.burguer-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.burguer-details h2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.burguer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.price {
  font-size: 40px;
  color: #521d16;
  font-weight: bold;
  margin-top: 20px;
}

.app-card:hover{
  border: none;
}
