<div class="header-content">
  <app-header></app-header>
  <app-navbar></app-navbar>
</div>
<h1>Detalhes do Hambúrguer</h1>
<div *ngIf="burger" class="burguer">
  <div class="burguer-details">
    <app-card
      [imageSrc]="'../../../assets/burguer.png'"
      [title]="burger.name"
      [content]="burger.ingredients"
      [clickable]="false"
    ></app-card>
    <p class="price">Preço: {{ burger.price | currency }}</p>
  </div>

  <app-descricao></app-descricao>
</div>
<div class="button-container">
  <app-button text="Comprar" route="/pedido"></app-button>
</div>
<div *ngIf="!burger">
  <p>Hambúrguer não encontrado.</p>
</div>
