<div class="header-content">
  <app-header></app-header>
  <app-navbar></app-navbar>
</div>
<h1>Pedido</h1>
<div class="container">
  <div class="formulario">
    <div *ngFor="let input of inputs; let i = index" class="produtos">
      <app-input
        label="Produto *"
        placeholder="Digite o produto"
        size="medium"
        [(ngModel)]="inputs[i].productName"
      ></app-input>
      <app-input
        label="Quantidade *"
        placeholder="Digite a quantidade"
        size="small"
        type="number"
        [(ngModel)]="inputs[i].quantity"
      ></app-input>
    </div>

    <div class="botoes">
      <button (click)="addInput()">+</button>
      <button (click)="deleteInput()">-</button>
    </div>

    <div class="observacao">
      <label>Observação *</label>
      <textarea cols="100" rows="20"></textarea>
    </div>
    <div class="button-container">
      <app-button text="Finalizar" (click)="submitOrder()"></app-button>
    </div>
  </div>
</div>
